<p id="notice"><%= notice %></p>

<p>
  <strong><%= @user.username %></strong>
</p>

<p>
  <%= "Has made "  + pluralize(@user.ratings.to_a.count.to_s, "rating")%>


</p>

<p>
  <strong>ratings: </strong>
<ul>
  <% @user.ratings.each do |rating| %>
      <li>
        <%= rating %>
        <% if @user == current_user %>
            <%= link_to 'delete', rating, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </li>
  <% end %>
</ul>
</p>

<p>
  <% unless @user.beer_clubs.nil? %>
      member of:

      <% @user.beer_clubs.each do |beer_club| %>
          <%= link_to beer_club.name, beer_club %>
      <% end %>

  <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Destroy', user_path, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', users_path %>
