<p id="notice"><%= notice %></p>

<p>
  <strong><%= @user.username %></strong>
</p>

<p>
  <%= "Has made "  + pluralize(@user.ratings.to_a.count.to_s, "rating")%>

</p>

<p>
  <b>ratings: </b>
<ul>
  <% @user.ratings.each do |r| %>
      <li ><%= r %>
        <% if @user == current_user %> <%= link_to 'Delete', r, method: :delete %> </li> <% end %>
  <% end %>
</ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
